@import "https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap";

:root {
	--lexend: "Lexend", sans-serif;
	--sf: "SF UI Text", -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
		helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";

	//Primary colors
	--dark-green: #3d8798;
	--light-green: #238ca4;
	--black-green: #205865;
	--white: #fff;
	--white-grey: #fcfcfc;
	--grey: #8f95b2;
	--stroke-block: #e9ecf1;
	--black: #000;
	--red: #eb5757;

	//Primary colors

	//Secondary colors
	--dark-white: #d8dae5;
	--light-grey: #f7f7f7;
	--purple: #3750eb;
	--green: #2d9f69;

	//Secondary colors
	--grey-background: #f7f8fa;
	--chat-active: #e6e8f0;
	--map: #6762FF;

	//Thirds colors
	--dark-grey: #a4a4a4;
	--dashboard-text: #5f7096;
}
