.ellipse {
	position: absolute;
	bottom: 0;
	right: 10px;
}

.send {
	&:hover {
		background-color: var(--dark-green) !important;
		border: none !important;
	}
}

.container {
	padding: 36px;
	overflow-y: scroll;
	height: 100%;
}

.scroll {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
