.container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 80px 1fr;
	gap: 0 0;
	grid-template-areas:
		"header header"
		"sidebar main";
}

.sidebar {
	//position: sticky;
	overflow-y: hidden;
	//max-height: calc(100vh - 79px);
	padding: 32px 28px;
	grid-area: sidebar;
	border-right: 1px solid var(--dark-grey);
}

.main {
	position: sticky;
	overflow-y: scroll;
	max-height: calc(100vh - 79px);
	background-color: var(--grey-background);
	grid-area: main;
	padding: 30px;
}

.header {
	background-color: var(--grey-background);
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 3fr;
	gap: 0 0;
	grid-area: header;
	border-bottom: 1px solid var(--dark-grey);
}
