.container {
	display: grid;
	height: 100%;
	grid-auto-columns: 1fr;
	grid-template-columns: 300px 3fr;
	grid-template-rows: 80px 1fr;
	gap: 0 0;
	grid-template-areas:
		"header header"
		"sidebar main";
}

.sidebar {
	grid-area: sidebar;
	height: 100%;
	overflow-y: auto;
	padding: 28px;
	border-right: 1px solid var(--dark-grey);
}

.main {
	grid-area: main;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: var(--grey-background);
	padding: 28px;
}

.header {
	grid-area: header;
	display: grid;
	background-color: var(--grey-background);
	align-items: center;
	grid-template-columns: 300px 3fr;
	gap: 0 0;
	border-bottom: 1px solid var(--dark-grey);
}
