.container {
  padding: 0;
  margin: 0;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.progressBar {
  display: flex;
  flex-direction: column;
}

.trash {
  & span {
    writing-mode: vertical-rl;
    & svg:hover {
      fill: var(--red);
    }
  }
}