.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav{
	gap: 30px;
	display: flex;
    font-size: 14px;
	font-weight: 400;
    line-height: 18px;
	padding: 15px 20px;
    border-radius: 10px;
	align-items: center;
	border: 1px solid #E9ECF1;
	background-color:  #FCFCFC;
	position: relative;
	&::after{
		top: 15px;
		content: '';
		width: .5px;
		position: absolute;
		left: calc(50% - 15px);
		height: calc(100% - 30px);
		background-color: #8F95B2;
	}
}

.activeTab{
	display: flex;
	color: white;
	padding: 6px 15px;
	border-radius: 4px;
	align-items: center;
	background-color: #000;
}

.tab{
	display: flex;
    font-size: 14px;
    color: #8F95B2;
	font-weight: 400;
    line-height: 18px;
	padding: 6px 15px;
	border-radius: 4px;
	align-items: center;
}

.icon{
	display: flex;
    margin-right: 12px;
	align-items: center;
    justify-content: center;
}