.card {
	width: 100%;
	display: flex;
	cursor: pointer;
	max-width: 440px;
	user-select: none;
	align-items: center;
	border-radius: 10px;
	justify-content: space-between;
	box-shadow: 0px 12px 50px -10px rgba(134, 162, 185, 0.2);
}

.icon {
	margin-bottom: 24px;
}
